# ─── Django
DEBUG=True
SECRET_KEY=cambia-esta-clave-por-una-segura
ALLOWED_HOSTS=localhost,127.0.0.1

# ─── MySQL
DB_NAME=daltec_db
DB_USER=root
DB_PASSWORD=tu_password
DB_HOST=127.0.0.1
DB_PORT=3306

# ─── Redis
REDIS_URL=redis://127.0.0.1:6379/0

# ─── CORS (React en dev)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
