# Django
Django==4.2.13
daphne==4.0.0

# Channels (WebSockets / ASGI)
channels==4.0.0
channels-redis==4.1.0

# Base de datos
mysqlclient==2.2.4

# Redis
redis==5.0.1

# Variables de entorno
python-dotenv==1.0.1

# CORS para React
django-cors-headers==4.3.1

# REST API (opcional pero recomendado con React)
djangorestframework==3.15.1

# JWT para autenticación
djangorestframework-simplejwt==5.3.1
